.highlight {
    tab-size: 4;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.woff?hw9tph') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    width: 1.25em;
    font-size: inherit;
    text-align: center;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-button:before {
    content: "\e91c";
}

.icon-blocks:before {
    content: "\e91e";
}

.icon-pen-alt-fill:before {
    content: "\e902";
}

.icon-pen-alt-stroke:before {
    content: "\e903";
}

.icon-home:before {
    content: "\e904";
}

.icon-file:before {
    content: "\e922";
}

.icon-menu:before {
    content: "\e9bd";
}

.icon-square:before {
    content: "\ea1e";
}

.icon-checkbox-checked:before {
    content: "\ea52";
}

.icon-checkbox-unchecked:before {
    content: "\ea53";
}

.icon-radio-checked:before {
    content: "\ea54";
}

.icon-empty-circle:before {
    content: "\ea55";
}

.icon-radio-unchecked:before {
    content: "\ea56";
}

.icon-hand-o-up:before {
    content: "\f0a6";
}

.icon-plus-square:before {
    content: "\f0fe";
}

.icon-caret-up:before {
    content: "\e913";
}

.icon-caret-down:before {
    content: "\e914";
}

.icon-caret-right:before {
    content: "\e915";
}

.icon-caret-left:before {
    content: "\e916";
}

.icon-toggle-on:before {
    content: "\e917";
}

.icon-toggle-off:before {
    content: "\e918";
}

.icon-windows:before {
    content: "\e919";
}

.icon-window:before {
    content: "\e91a";
}

.icon-table:before {
    content: "\e91b";
}

.icon-puzzle:before {
    content: "\e901";
}

.icon-circle:before {
    content: "\e900";
}

.icon-card:before {
    content: "\e905";
}

.icon-line_weight:before {
    content: "\e91f";
}

.icon-widgets:before {
    content: "\e920";
}

.icon-school:before {
    content: "\e91d";
}

.icon-message:before {
    content: "\e906";
}

.icon-select:before {
    content: "\e907";
}

.icon-photo:before {
    content: "\e908";
}

.icon-camera:before {
    content: "\e909";
}

.icon-image:before {
    content: "\e90a";
}

.icon-tab:before {
    content: "\e90b";
}

.icon-progress-two:before {
    content: "\e90c";
}

.icon-progress-empty:before {
    content: "\e90d";
}

.icon-stack:before {
    content: "\e90e";
}

.icon-anchor:before {
    content: "\e90f";
}

.icon-grid:before {
    content: "\e910";
}

.icon-row:before {
    content: "\e911";
}

.icon-app:before {
    content: "\e912";
}